/*=== MIXINS ===*/
/*=== VARIABLES ===*/
/*=== MEDIA QUERY ===*/
/*=== Blue ===*/
.top-right .searchBox .dropdown-menu li .input-group .form-control:focus,
.top-right .searchBox .dropdown-menu li .input-group .input-group-addon,
.searchBox .input-group .input-group-addon,
.footer,
.footer .newsletter .input-group .input-group-addon:hover,
.tp-caption.rs-caption-4 .btn,
.filterArea .btn-group .btn-default:hover,
.filterArea .btn-group .btn-default.active,
.productListSingle .media .media-body .btn-group .btn-default:hover,
.productListSingle .media .media-body .btn-group .btn-default:focus,
.cartListInner .table-responsive .table thead tr,
.blogPage .pagination li a:hover,
.blogPage .pagination li.active a,
.orderBox .table-responsive .table thead tr,
.orderBox .table-responsive .table tbody tr td .btn-default:hover,
.footer .newsletter .input-group .input-group-addon,
.tabCommon .nav-tabs > li.active > a,
.tabCommon .nav-tabs > li.active > a:focus,
.tabCommon .nav-tabs > li.active > a:hover,
.version2 .box:hover,
.tp-caption.rs-caption-4 .btn,
.bannerV2 .btn, .bannerV3 .btn,
.bannerV3 .owl-controls .owl-nav .owl-prev:hover,
.bannerV3 .owl-controls .owl-nav .owl-next:hover,
.dealSlider .productCaption .btn-border,
.footer.version2 .newsletter .input-group .input-group-addon:hover,
.dropGeneral.border-color .sbHolder,
.dropGeneral.colorBg .sbHolder,
.dropGeneral.border-color .sbHolder,
.bannerV2 .caption-info-inner {
  border-color: #009c9d;
}

.category-content {
  border-top-color: #009c9d;
}

.top-right .cart-dropdown a,
.cart-dropdown a,
.top-right .cart-dropdown a:hover,
.top-right .cart-dropdown a ul.dropdown-menu,
.cart-dropdown a,
.cart-dropdown a:hover,
.cart-dropdown a ul.dropdown-menu,
.cart-dropdown .shop-cart .badge,
.navbar-default .navbar-header .navbar-toggle,
.searchBox .input-group .input-group-addon,
.footer .newsletter .input-group .input-group-addon:hover,
.tp-caption.rs-caption-4 .btn:hover,
.form-field .btn-primary, .form-body .panel .panel-body .btn-primary,
.signUp .panel .panel-body .btn-primary,
.lostPassword .panel .panel-body .btn-primary,
.logIn .panel .panel-body .btn-primary,
.commentsForm .btn-primary,
#login .modal-dialog .modal-content .modal-body .btn-primary,
#signup .modal-dialog .modal-content .modal-body .btn-primary,
.form-body .panel .panel-heading,
.signUp .panel .panel-heading,
.lostPassword .panel .panel-heading,
.logIn .panel .panel-heading,
.stepsPage form .checkboxArea input[type=checkbox]:not(old):checked + label span,
.quick-view .modal-dialog .modal-content .modal-body .media .media-body .btn-area .btn-primary,
.singleProduct .media .media-body .btn-area .btn-primary,
#login .modal-dialog .modal-content .modal-header,
#signup .modal-dialog .modal-content .modal-header,
.sideBar .panel .panel-heading,
.filterArea .btn-group .btn-default:hover,
.filterArea .btn-group .btn-default.active,
.productListSingle .media .media-body .btn-group .btn-default:hover,
.productListSingle .media .media-body .btn-group .btn-default:focus,
.cartListInner .table-responsive .table thead tr th,
.orderBox .table-responsive .table thead tr th,
.cartListInner .checkBtnArea .btn-primary,
.notFound .btn-default,
.blogPage .pagination li a:hover,
.blogPage .pagination li.active a,
.stepsWrapper .innerWrapper .well .pager li a,
.progress-wizard .progress-wizard-step .progress-wizard-dot,
.progress-wizard .progress-wizard-step .progress .progress-bar,
.setp5 .thanksContent .thanksInner .well,
.userProfile .btn-group a:hover,
.userProfile .btn-group a.active,
.userProfile .innerWrapper .list-inline li .btn-lg:hover,
.userProfile .innerWrapper.singleOrder .btn-group .btn-default,
.orderBox .table-responsive .table tbody tr td .btn-default:hover,
.profile .thumbnail .caption .btn-primary,
.profile .form-horizontal .form-group .btn-primary,
.count-down #simple_timer .table-cell .tab-val,
.aboutUsInfo .list-unstyled li:before,
.stepsWrapper .innerWrapper .well .pager li a:hover,
.stepsWrapper .innerWrapper .well .pager li.previous a:hover,
.bannerV2 .border,
.bannerV2 .slider-button a.btn,
.version2 .imageBox .productImage .productMasking ul li a:hover,
.version2 .whiteSection .featuredProducts .slide .productImage .productMasking ul li a:hover,
.whiteSection .featuredProducts .version2 .slide .productImage .productMasking ul li a:hover,
.version2 .mainContent .featuredProducts .slide .productImage .productMasking ul li a:hover,
.mainContent .featuredProducts .version2 .slide .productImage .productMasking ul li a:hover,
.version2 .productsContent .productBox .productImage .productMasking ul li a:hover,
.productsContent .version2 .productBox .productImage .productMasking ul li a:hover,
.bannerV3 .slide .productCaption .offer,
.tp-caption.rs-caption-4 .btn:hover,
.bannerV2 .btn:hover, .bannerV3 .btn:hover,
.bannerV3 .owl-controls .owl-nav .owl-prev:hover,
.bannerV3 .owl-controls .owl-nav .owl-next:hover,
.dealSlider .imageBox:hover .productCaption .btn-border,
.dealSlider .whiteSection .featuredProducts .slide:hover .productCaption .btn-border,
.whiteSection .featuredProducts .dealSlider .slide:hover .productCaption .btn-border,
.dealSlider .mainContent .featuredProducts .slide:hover .productCaption .btn-border,
.mainContent .featuredProducts .dealSlider .slide:hover .productCaption .btn-border,
.dealSlider .productsContent .productBox:hover .productCaption .btn-border,
.productsContent .dealSlider .productBox:hover .productCaption .btn-border,
.navTop .cart-dropdown > a i,
.nav-category,
.sticker,
.top-right .cart-dropdown ul.dropdown-menu,
.cart-dropdown ul.dropdown-menu,
.footer.version2 .newsletter .input-group .input-group-addon:hover,
.accordionCommon .panel-heading,
.dropGeneral.colorBg .sbHolder,
.bannerV2 .fullscreenbanner-container .fullscreenbanner-bg {
  background-color: #009c9d;
  cursor: pointer;
}

.navbar-default .navbar-collapse li a:hover,
.navbar-default .navbar-collapse li a.focus,
.navbar-default .navbar-collapse li.dropdown .dropdown-menu li a:hover,
.navbar-default .navbar-collapse li.active a,
.navbar-default .navbar-collapse li.active a:focus,
.navbar-default .navbar-collapse li.active a:hover,
.navbar-default .navbar-collapse li.active.dropdown .dropdown-menu li a:hover,
.navbar-default .navbar-collapse li.dropdown.open a:hover,
.navbar-default .navbar-collapse li.dropdown.open a.focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.footer .newsletter .input-group .input-group-addon i,
.tp-caption.rs-caption-4 .btn i,
.imageBox .productImage .productMasking ul li a:hover i,
.whiteSection .featuredProducts .slide .productImage .productMasking ul li a:hover i,
.mainContent .featuredProducts .slide .productImage .productMasking ul li a:hover i,
.productsContent .productBox .productImage .productMasking ul li a:hover i,
.masking-btn:hover,
.whiteSection .featuredCollection .thumbnail .imageWrapper .masking .viewBtn:hover,
.mainContent .featuredCollection .thumbnail .imageWrapper .masking .viewBtn:hover,
.productListSingle .media .pull-left .maskingImage .viewBtn:hover,
.whiteSection .featuredCollection .thumbnail:hover .caption h4,
.mainContent .featuredCollection .thumbnail:hover .caption h4,
.form-field .btn-link,
.form-body .panel .panel-body .btn-link,
.signUp .panel .panel-body .btn-link,
.lostPassword .panel .panel-body .btn-link,
.logIn .panel .panel-body .btn-link,
.commentsForm .btn-link,
#login .modal-dialog .modal-content .modal-body .btn-link,
#signup .modal-dialog .modal-content .modal-body .btn-link,
.stepsPage form .checkboxArea input[type=checkbox]:not(old):checked + label span,
.sub-list-item:hover,
.navbar-side-collapse .side-nav li .collapseItem li a:hover,
.sidebar-list li a:hover,
.navbar-side-collapse .side-nav li a:hover,
.filterNormal .list-unstyled li a:hover,
.productListSingle .media:hover .media-heading,
.productListSingle .media:hover h3,
.cartListInner .table-responsive .table tbody tr td .close,
.orderBox.myAddress .table-responsive .table tbody tr td .close,
.notFound h1,
.commentsArea .media .media-body .btn-link:hover,
.userProfile .innerWrapper h3 span,
.orderBox .table-responsive .table tbody tr td:first-child,
.orderBox.myAddress.wishList .table-responsive .table tbody tr td:nth-child(4),
.navbar-default .navbar-collapse li.dropdown .dropdown-menu li.active a,
.box i,
.copyRight.version2 p a:hover,
.bannerV3 .slide .slider-title h3 span,
.bannerV3 .slide .productCaption .offer-price,
.bannerV3 .owl-controls .owl-nav .owl-prev,
.bannerV3 .owl-controls .owl-nav .owl-next,
.dealSlider .productDeal h3 span,
.imageBox .productCaption .offer-price,
.whiteSection .featuredProducts .slide .productCaption .offer-price,
.mainContent .featuredProducts .slide .productCaption .offer-price,
.productsContent .productBox .productCaption .offer-price,
.dealSlider .imageBox:hover .productDeal .rating,
.dealSlider .whiteSection .featuredProducts .slide:hover .productDeal .rating,
.whiteSection .featuredProducts .dealSlider .slide:hover .productDeal .rating,
.dealSlider .mainContent .featuredProducts .slide:hover .productDeal .rating,
.mainContent .featuredProducts .dealSlider .slide:hover .productDeal .rating,
.dealSlider .productsContent .productBox:hover .productDeal .rating,
.productsContent .dealSlider .productBox:hover .productDeal .rating,
.testimonial-inner .testimonialText .product-rating,
.nav-category .dropdown-menu li.active a,
.nav-category .dropdown-menu li a:hover,
.nav-category .dropdown-menu li a:hover i,
.category-top .category-menu h2,
.category-menu ul li:hover a,
.tp-caption.rs-caption-4 .btn i,
.bannerV2 .btn i, .bannerV3 .btn i,
.dealSlider .productCaption .btn-border i {
  color: #009c9d;
}

.step-drop .sbOptions a:hover,
.filterArea .sbOptions a:hover,
.quick-drop .sbOptions a:hover,
.slider-captionV4 .tp-caption.rs-caption-2 small,
.dropGeneral .sbOptions a:hover {
  color: #009c9d !important;
}

.masking-hover,
.imageBox .productImage .productMasking,
.whiteSection .featuredProducts .slide .productImage .productMasking,
.mainContent .featuredProducts .slide .productImage .productMasking,
.productsContent .productBox .productImage .productMasking,
.whiteSection .featuredCollection .thumbnail .imageWrapper .masking,
.mainContent .featuredCollection .thumbnail .imageWrapper .masking,
.productListSingle .media .pull-left .maskingImage {
  background-color: rgba(71, 186, 193, 0.9);
}

.fullscreenbanner-container .tp-bullets.preview4 {
  background: #4dc8cf;
  background: linear-gradient(to bottom, #4dc8cf 0%, #4dc8cf 50%, #009c9d 51%, #009c9d 100%);
}

.fullscreenbanner-container .tp-bullets.preview4::before {
  background: #4dc8cf;
  background: linear-gradient(135deg, #4dc8cf 0%, #4dc8cf 50%, #009c9d 51%, #009c9d 100%);
}

.fullscreenbanner-container .tp-bullets.preview4::after {
  background: #4dc8cf;
  background: linear-gradient(135deg, #4dc8cf 0%, #4dc8cf 50%, #009c9d 51%, #009c9d 100%);
}

.darkSection .btn-default {
  border: 2px solid rgba(71, 186, 193, 0.5);
}

.darkSection .btn-default:hover {
  background-color: #009c9d;
  border-color: #009c9d;
}

.cartListInner .updateArea .btn:hover {
  background-color: #009c9d;
  border-color: #009c9d;
}

.form-field .btn-link:hover,
.form-body .panel .panel-body .btn-link:hover,
.signUp .panel .panel-body .btn-link:hover,
.lostPassword .panel .panel-body .btn-link:hover,
.logIn .panel .panel-body .btn-link:hover,
.commentsForm .btn-link:hover,
#login .modal-dialog .modal-content .modal-body .btn-link:hover,
#signup .modal-dialog .modal-content .modal-body .btn-link:hover {
  color: #4dc8cf;
}

.nav>li>a {
  position: relative;
  display: block;
  background: rgba(232, 232, 232, 0);
  padding: 10px 15px;
  color: black;
}

.tab-content{
  padding: 25px 0;
  color: #797979;
  font-size: 14px;
}

.loading {
  background: transparent url('http://thinkfuture.com/wp-content/uploads/2013/10/loading_spinner.gif') center no-repeat;
}

.sk-chasing-dots {
  margin: 20% auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
  animation: sk-chasingDotsRotate 2s infinite linear; 
}

.sk-chasing-dots .sk-child {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: rgb(71, 186, 193);
  border-radius: 100%;
  -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
  animation: sk-chasingDotsBounce 2s infinite ease-in-out; 
}

.sk-chasing-dots .sk-dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s; 
}

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.cartImage {
    max-width: 100px;
    overflow: hidden;
    max-height: 100px;
}

.imWidth{
  width: 100%;
}

.modal-header-success {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #5cb85c;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header-warning {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #f0ad4e;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.quick-view .modal-dialog .modal-content .modal-body .media .media-body p, .singleProduct .media .media-body p{
  font-size: 15px;
}

.header-text{
  color: white;
  text-align: center;
  margin-top: 20px;
  text-transform: none;
}

.deleteText{
  text-align: left;
  text-transform: none;
  color: #797979;
  font-weight: 300;
  margin-top: 20px;
}

.pos-i{
  float: left;
  margin-top: 5px;
}

.pull-width{
  max-width: 180px;
}

.media-object {
  display: block;
  width: 100%;
}

.cartListInner .totalAmountArea .list-unstyled li span {
  width: 150px;
  display: inline-block;
  color: #888888;
}

.txtCartSize{
  font-size: 16px;
}

.stepsPage form .checkboxArea input[type=checkbox]:not(old) {
  width: 20px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  opacity: 0;
  position: relative;
  top: 6px;
  left: 3px;
  height: 19px;
}

.btn-is-disabled {
  pointer-events: none; /* Disables the button completely. Better than just cursor: default; */
  opacity: 0.4;
}

.ordertxt{
  font-weight: 400;
  margin-bottom: 15px;
}

.logText{
  color: white;
  cursor: pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: pointer;
    display: block;
}

.btnUploadimg{
  display:none;
}

.navbar-brand img {
  max-width: 167px;
}

@media (max-width: 479px) {
  .navbar-brand img {
    max-width: 110px;
    padding-right: 8px;
  } 
}

.featuredCollection.version2 .productCaption h3 a {
  color: #009c9d;
}

.featuredCollection.version2.version3 .productCaption p {
    color: #348f98;
}

.featuredCollection.version2.version3 .btn-border {
    border-color: #009c9d;
    margin-bottom: 30px;
    color: #009c9d;
}

.selectOptions{
  background-color: #ffffff;
  width: 174px !important;
  height: 39px !important;
  border-color: #d0d0d0;
  margin: 0;
  width: 164px;
  height: 36px;
  color: #797979;
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-indent: 18px;
}
@media (min-width: 992px){
  .productsContent .productBox .productImage {
      max-width: 200px;
      max-height: 200px;
  }
}
@media (min-width: 768px){
  .productsContent .productBox .productImage {
      max-width: 200px;
      max-height: 200px;
  }
}
@media (min-width: 480px){
  .imageBox .productImage, .whiteSection .featuredProducts .slide .productImage, .mainContent .featuredProducts .slide .productImage, .productsContent .productBox .productImage {
      max-width: 200px;
      min-height: 200px;
  }
}

.fullImage2{
  /*position: relative;*/
  width: 200px;
  height: auto;
  /*background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.imageBox .productCaption h3, .whiteSection .featuredProducts .slide .productCaption h3, .mainContent .featuredProducts .slide .productCaption h3, .productsContent .productBox .productCaption h3 {
  color: #009c9d;
  font-weight: 700;
  margin-bottom: 0;
}

.category-Slider {
  width: 63%;
  /* float: right; */
  margin-left: 18%;
}

.cartUlStyle{
  overflow: auto;
  max-height: 350px;
}

.img-circle {
  border-radius: 50%;
  max-width: 150px;
}

.priceRange .price-slider-inner .amount-wrapper {
  position: absolute;
  bottom: 55px;
  right: 15px;
  font-size: 14px;
  width: 200px;
}

.blankImage{
  width: 100%;
}

.ocultar{
  display: none;
}

.height{
  margin-left: 5%;
}

#lg {
  background: #2c5a71;
  height: 600px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

#lg h4 {
  font-weight: 700;
}

.ftcorreos{
  width: 128px;
}

.fttodoexpress{
  width: 128px;
}

.lettColor{
  color: #009c9d !important;
}

.page-header {
  margin: 0 0 17px 0;
  border-bottom: 5px solid rgba(0, 156, 157, 0.66);
}

.btn-plus{
  margin-right: 5px;
  border-radius: 10px;
  width: 20px;
  text-align: center;
  height: 20px;
  font-size: xx-small;
  background: #f4365c;
  color: white;
  border-color: #f4365c;
  border-width: 0;
}

.btn-min{
  margin-left: 5px;
  border-radius: 10px;
  width: 20px;
  text-align: center;
  height: 20px;
  font-size: xx-small;
  background: #009c9d;
  color: white;
  border-color: #009c9d;
  border-width: 0;
}

.media-especial{
  max-width: 270px;
}

.media-2{
  margin-top: 15px;
}

.qty{
  margin-bottom: 3px;
  color: #009c9d;
}

.navmenu-nav.dropdown-menu, .dropdown-backdrop {
  position: relative!important;
}

.panel-hidden{
  display: none;
}
